---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <p class="eyebrow">About</p>
  <h1>Background</h1>
  <img class="page-banner" src="/images/backdrop1.JPG" alt="" />
  <div class="prose">
    <p>
      I'm a chemical engineer working in process design for chemical plants. My path here
      crossed three disciplines: a B.S. in Mechanical Engineering, an M.S. in Computer
      Engineering, and day-to-day work as a chemical engineer &mdash; which is a slightly
      unusual combination, but one that shapes how I approach a process design problem.
    </p>
    <p>
      I'm a licensed Professional Engineer (PE) in the State of South Carolina, and my
      specialization is process design: developing the process flow diagrams, P&IDs,
      piping designs, and instrumentation specifications that turn a process concept into
      something that can be built, operated, and maintained safely.
    </p>
    <p>
      The bulk of my professional work is carried out through Total Aspect Design.
      We are a small company located in Greer, SC. You can also head over to their website <a href="https://www.totalaspectdesign.com">here</a>.
    </p>
    <p>
      Outside of work, I enjoy making websites and developing software (check out my <a href="/projects/">Projects</a> page!),
      staying active with fitness and running, dabbling in woodworking and electronics, and learning to become a Dad.
      I noticed that I was making a lot of tools I found useful, or had ideas I thought might be worth sharing,
      but was struggling to find a place to publish them.. so i made this site.
    </p>
    <h2>Education</h2>
    <ul>
      <li>M.S., Computer Engineering (CTU)</li>
      <li>B.S., Mechanical Engineering (Clemson)</li>
    </ul>
    <h2>Licensure</h2>
    <ul>
      <li>Licensed Professional Engineer (PE) &mdash; South Carolina</li>
    </ul>
    <h2>Core Skills</h2>
    <ul>
      <li>AutoCAD Plant 3D</li>
      <li>Piping Design to ASME B31.3</li>
      <li>Bentley AutoPIPE (piping stress)</li>
      <li>CAESAR II (piping stress)</li>
      <li>Pipe Flow (pump calculation)</li>
      <li>PFD, P&ID, Isometric Generation</li>
      <li>Excel &amp; VBA</li>
      <li>Python</li>
      <li>Bluebeam</li>
    </ul>
    <h2>Hobbies</h2>
    <ul>
      <li>Making Websites &amp; Apps</li>
      <li>Clemson Teams, Go Tigers!</li>
      <li>Bengals Football & Reds Baseball (through thin &amp; thinner...)</li>
      <li>Working out in the Gym &amp; Running 5k's &amp; Half Marathons (not quite up to a full marathon yet...)</li>
      <li>Golf, Racquetball, &amp; Pickleball (trying to get back into tennis..)</li>
      <li>Beers &amp; Billiards</li>
      <li>Nerding out on Medieval Fantasy (GoT, The Witcher, Renaissance Festivals, etc...)</li>
      <li>Being a Girl Dad (don't look at my fingernails...)</li>
      <li>Dabbling in Guitar &amp; Piano</li>
      <li>Being a Metalhead (Metallica!)</li>
    </ul>
  </div>
</BaseLayout>
